* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: #3b3b3b;
  padding: 0;
  margin: 0;
}

/*HEADER NAVIGATION*/
nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

li {
  padding: 0 5px;
}

li:hover {
  text-decoration: underline;
}

.profile-pic {
  border-radius: 50%;
}

.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #5f6368;
}

/*MAIN SECTION*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

main * {
  margin: 10px auto;
}

input[type="search"] {
  width: 550px;
  height: 40px;
  max-width: 90%;
  border-radius: 50px;
  background-color: transparent;
  padding: 0 40px;
  border: 1px solid #e1e1e1;
}
input[type="search"]:hover {
  background-color: gold;
  box-shadow: 1px 1px 1px 1px purple;
}

button {
  margin: auto 5px;
}

form {
  max-width: 90%;
  position: relative;
}

.search {
  position:absolute;
  left: 10px;
  top: 6px;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #5f6368;
  
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 6px;
  width: 100%;
  bottom: 1px;
  background-color: #eee;
  color: #70757a;
  font-size: 14px;
}
