

nav {
    display: flex;
    justify-content: flex-end;

}


ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 0 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="search"] {
    width: 500px;
    border-radius: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:100%;
    bottom: 1px;
    right: 1px;
}